{%  extends 'base_book.html' %}
{% load static %}
{% block title %}
    Filter Book
{% endblock %}

{% block content %}

<!-- Section -->
<section>
    <header class="major">
        <h2>Books</h2>
    </header>
    <div class="posts">
        {% for book in books %}
        <article>
            {% if book.image %}
                <a href="#" class="image"><img src="{{ book.image.url }}" alt="" style="width: 350px; height: 500px" /></a>
            {% else %}
                <a href="#" class="image"><img src="{% static 'images/default.jpg' %}" alt="" style="width: 350px; height: 500px" /></a>
            {% endif %}
            <h3>{{ book.title }}</h3>
            <p>{{ book.price }}</p>
            <ul class="actions">
                <li><a href="{{ book.get_absolute_url }}" class="button primary">Подробнее</a></li>
            </ul>
        </article>
        {% endfor %}
    </div>

    {% if books %}
            <ul class="pagination align-center">
                {% if books.has_previous %}
					<li>
						<a class="page {% if not books.has_previous %} disabled {% endif %}" href="?page=1"><<</a>
					</li>
                {% endif %}
                {% for page in books.paginator.page_range %}
                {% if books.number == page %}
					<li>
						<a class='page active' href="?page={{ page }}">{{ page }}</a>
					</li>
                {% elif page > books.number|add:-3 and page < books.number|add:3 %}
					<li>
						<a class='page' href='?page={{ page }}'>{{ page }}</a>
					</li>
                {% endif %}
                {% endfor %}
                {% if books.end_index %}
					<li>
					   <a class="page" href="?page={{ books.paginator.num_pages }}">>></a>
					</li>
                {% endif %}
            </ul>
        {% endif %}
</section>
{% endblock %}
