

{% extends 'base_book.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger; form-error" role="alert">
            {{ form.non.field_errors }}
        </div>
        {% for forms in form %}
            <p><label style="margin-right: 30%;" class="form-label" for="{{ forms.id_for_label }}">{{ forms.label }}: </label>{{ forms }}</p>
            <div class="form-error">{{ forms.errors }}</div>
        {% endfor %}
        <button type="submit" class="button add_to_cart_button product_type_simple">Войти</button>
    </form>
{% endblock %}