{% extends 'base_book.html' %}
{% load static %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
<div class="box" style="margin-top: 20px">
    <div class="content">
        <header>
            <h2>Имя: {{ user.username }}</h2>
            <p>Email: {{ user.email }}</p>
        </header>
    </div>
    <div class="box">
        <article>
            <a href="#" class="image"><img style="height: 300px; width: 250px;" src="{% static 'images/default_user.jpg' %}" alt=""  /></a>
        </article>
    </div>
     <a class="button" href="{% url 'logout' %}">Выйти</a>
</div>
{% endblock %}
