{% extends 'base_book.html' %}

{% block title %} Registration {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for forms in registration_form %}
            <p><label class="form-label">{{ forms.label }}: </label>{{ forms }}</p>
            {% if forms.errors %}
                <div class="alert alert-danger">
                    {{ forms.errors }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="button primary">Регистрация</button>
    </form>
{% endblock %}
